.experience-container {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin: auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-bottom: 7%;
    align-items: flex-start;
}

.experience-year {
    font-size: 24px;
    margin-bottom: 15px;
}

.experience-content {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    flex: 1;
    left: auto;
    transform: none;
}

.position-title {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    position: absolute;
    top: -10%;
    right: 5px; /* Adjust as needed */
    transform: translateY(-50%); /* Adjust as needed for vertical centering */
}

.experience-image {
    width: 45%;
    border-radius: 5px;
    margin-left: 3.5%;
    z-index: -1;
}

.experience-description {
    margin-top: 10px;
    position: relative;
    left: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 25px;
    background-color: #9bb2a2;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.experience-description:hover {
    background-color: #a9c1b1;
    transform: translateX(-10%) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.experience-description li {
    margin-bottom: 5px;
}

.tags {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24%;
    bottom: -13%;
    transform: translateX(50%);
}

.tag {
    display: inline-block;
    background-color: #d3e3cc;
    color: #394240;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transfexorm 0.3s;
}

.tag:hover {
    background-color: #9bb2a2;
    color: #FAFAFA;
    transform: scale(1.05);
}

